annotated-types
attrs
autocommand
btrfsutil
cffi
colorama
cryptography
cupshelpers
dbus-python
defusedxml
distro
filelock
Glances
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
kazam
more-itertools
netsnmp-python
nftables
orjson
packaging
pillow
platformdirs
psutil
pyaml
pycairo
pycparser
pycups
pydantic
pydantic_core
PyGObject
PyQt5
PyQt5_sip
python-distutils-extra
pyxdg
PyYAML
Reflector
setuptools
shtab
smbus
TBB
termcolor
tldr
typing_extensions
wheel
